* {
  box-sizing: border-box;
}
body {
  background-color: #1d1283;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
header h1 {
  text-align: center;
  font-weight: 500;
  background-color: #e30062;
  margin: 0;
  padding: 0.5rem;
}

form {
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form div {
  margin-bottom: 1rem;
}
form input {
  width: 100%;
  font-family: inherit;
  height: 1.5rem;
  margin-top: 0.5rem;
}
.generate-button-container {
  display: flex;
  justify-content: center;
}
.generate-button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.generate-button:active {
  background-color: #e30062;
}

@media (width<=480px) {
  header h1 {
    font-size: 24px;
  }
}
